<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}fingel++{{ end }}</title>
    <link href="/static/css/base.css" rel="stylesheet" />
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>
