html {
  --color-accent: #aa8fff;
  --color-text: #ffffff;
  --color-glow: color-mix(in oklch, 40% var(--color-accent), #ffffff);
  --bg: linear-gradient(-10deg, #aa8fff10, #aa8fff90);
  --color-bg-border: var(--color-accent);
  --html-bg: #110d1a;

  --color-correct: #497e49;
  --color-wrong: #ac3638;

  --color-exr-bg: #ffffff;
  --color-exr-border: #000000;
  --color-exr-border-hover: var(--color-accent);
}
html {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  width: 100%;
  background: var(--html-bg);
}

a {
  color: var(--color-accent);
  font-weight: bold;

  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

body {
  margin: 0px;
  box-sizing: border-box;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 80rem;
  align-self: center;
  background: var(--bg);
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-bg-border);
  border-radius: 2.5rem;
}

*:focus {
  outline: solid 2px var(--color-accent);
}

.info {
  --block-border-color: #497e49;
  --block-bg-color: #61b761;
}

.exercise {
  --block-border-color: #ac3638;
  --block-bg-color: #dd565a;
}

h2.chapter {
  padding: 0.75rem;
  border-radius: 1rem;
}

li.lesson {
  padding: 0.75rem;
  border-radius: 1rem;
  list-style-type: none;
}

.lesson a {
  color: var(--color-accent);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

nav {
  width: 100%;
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

nav a {
  background: var(--bg);
  border: 2px solid var(--color-bg-border);
  padding: 0.2rem 1rem;
  margin: 0px 0.5rem;
  border-radius: 1000px;
  color: var(--color-accent);
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;

  transition:
    transform 0.2s,
    box-shadow 0.3s;
}
nav a:hover {
  box-shadow: 0px 0px 8px var(--color-glow);
  transform: scale(1.02);
}

nav span {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--color-accent);
  text-shadow: 0px 0px 2px var(--color-accent);
  align-content: center;
}

p {
  margin-left: 0.5rem;
}

.lesson:target {
  border: solid var(--color-accent) 3px;
}

.chapter:target {
  border: solid var(--color-accent) 3px;
}

.block {
  padding-top: 0px;
  margin-bottom: 1rem;
  background: var(--block-bg-color);
  border: solid 2px var(--block-border-color);
  border-radius: 1.3rem;
  overflow: clip;
  margin-left: 0.5rem;

  box-shadow: 2px 2px 10px #000000aa;
}

.block > .block-title {
  padding: 0.4rem 1rem;
  background: linear-gradient(
    160deg,
    var(--block-border-color),
    var(--block-bg-color)
  );

  box-shadow: 0px 2px 5px #00000050;
  border-bottom: 2px solid var(--block-border-color);
  display: flex;
  flex-direction: row;
}
.block > .block-title h1 {
  color: #ffffff;
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 100;
}
.block > .block-title .score {
  color: #d2d2d2;
  font-weight: bold;
  align-content: center;
  font-size: 0.9rem;
  margin: 0rem 0.2rem;
}

/* EXERCISES */

.exr,
.exr-multiplechoice li {
  border: 2px solid var(--color-exr-border);
  border-radius: 10000px;
  padding: 0.2rem 0.8rem;
  margin: 0.2rem;

  box-shadow: 1px 2px 2px #00000070;

  background: var(--color-exr-bg);
  color: #000000;

  transition:
    transform 0.2s,
    border-color 0.3s;
}

.exr-multiplechoice li:hover,
.exr:hover {
  border-color: var(--color-exr-hover);
  transform: scale(1.01);
}

.exr:focus {
  transform: scale(1.05);
  border-color: var(--color-exr-hover);
}

.exr-multiplechoice li.correct,
.correct {
  color: var(--color-correct);
  border-color: var(--color-correct);
  font-weight: bold;
}

.exr-multiplechoice li.wrong,
.wrong {
  color: var(--color-wrong);
  border-color: var(--color-wrong);
  font-weight: bold;
}

.exr-multiplechoice ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
}

.exr-multiplechoice label {
  display: block;
}
