:root {
  --red-100: oklch(0.38 0.09 7);
  --red-600: oklch(0.7 0.1 7);
  --red-700: oklch(0.88 0.08 7);
  --red-800: oklch(0.93 0.04 7);

  --turquoise-100: oklch(0.36 0.09 180);
  --turquoise-600: oklch(0.74 0.14 180);
  --turquoise-700: oklch(0.86 0.08 180);
  --turquoise-800: oklch(0.92 0.04 180);

  --steel-000: oklch(0.28 0.03 265);
  --steel-050: oklch(0.35 0.03 265);
  --steel-100: oklch(50.699% 0.12836 265);
  --steel-600: oklch(0.77 0.13 265);
  --steel-700: oklch(0.87 0.07 265);
  --steel-800: oklch(0.92 0.04 265);

  --fuchsia-100: oklch(44.022% 0.14709 280);
  --fuchsia-600: oklch(0.78 0.14 280);
  --fuchsia-700: oklch(0.88 0.08 280);
  --fuchsia-800: oklch(0.92 0.04 280);

  --bg-100: oklch(0.18 0.01 265);
  --bg-200: oklch(0.2 0.01 265);
  --bg-300: oklch(0.24 0.01 265);
  --bg-500: oklch(0.31 0.01 265);
}

* {
  font-family: "Montserrat", "sans-serif" !important;
}

html {
  --color-accent: var(--fuchsia-100);
  --color-text: oklch(0.9214 0.0159 243.31);
  --bg: linear-gradient(-10deg, var(--bg-200), var(--bg-300));
  --color-bg-border: var(--color-accent);
  --html-bg: linear-gradient(160deg, var(--bg-100), var(--bg-200));
  --shadow-color: oklch(0.1543 0 0 / 80%);

  --color-correct: var(--turquoise-600);
  --color-correct-dark: color-mix(in oklch, var(--turquoise-600), #000000 15%);
  --color-wrong: var(--red-600);
}

::selection {
  background-color: oklch(0.7 0.03 260 / 30%);
}

.info {
  --block-title-border-color: var(--steel-100);
  --title-bg: var(--steel-100);
  --block-title-color: var(--steel-800);
}

.exercise {
  --block-title-border-color: var(--fuchsia-100);
  --title-bg: var(--fuchsia-100);
  --block-title-color: var(--fuchsia-800);
  --block-score-color: var(--fuchsia-700);
}
.exr-footer {
  display: flex;
  flex-direction: column;
}

.score-line {
  margin: 1em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.exr-footer .score {
  font-weight: bold;
  color: var(--color-correct);
}
.exr-footer .score-bar {
  display: block;
  width: 10em;
  height: 1em;
  border-radius: 10000px;
  background: var(--fuchsia-100);
  margin-left: 0.5em;
  margin-right: 0.2em;
}
.exr-footer .score-bar .fill {
  content: " ";
  display: block;
  height: 100%;
  border-radius: 10000px;
  background: repeating-linear-gradient(
    45deg,
    var(--color-correct),
    var(--color-correct) 10px,
    var(--color-correct-dark) 10px,
    var(--color-correct-dark) 20px
  );
  transition: width 0.5s ease;
}
.exr-footer .star {
  width: 1.5em;
  color: var(--color-wrong);
  transition: width 1s ease;
}
.exr-footer .star.fully-correct {
  animation: collectStar 1s ease forwards;
}
@keyframes collectStar {
  0% {
    transform: scale(100%);
    filter: brightness(100%);
    color: var(--color-wrong);
  }
  20% {
    color: var(--color-correct);
    transform: scale(60%);
    filter: brightness(120%);
  }
  60% {
    transform: scale(200%);
    filter: brightness(130%);
  }
  100% {
    filter: brightness(100%);
    color: var(--color-correct);
    transform: scale(100%);
  }
}

.car-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.car-buttons button {
  border: 1px solid var(--fuchsia-600);
  border-radius: 100000px;
  background: var(--color-bg-border);
  width: 1.5em;
  height: 1.5em;
}
.car-buttons button.active {
  border: 2px solid var(--fuchsia-700);
}

html {
  color: var(--color-text);
  height: 100%;
  background: var(--bg-100);
  scrollbar-color: var(--bg-500) var(--bg-200);
  display: flex;
}

a {
  color: var(--fuchsia-600);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

body {
  flex-grow: 1;
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 50rem;
  margin-top: 4rem;
}

main:has(#lessonEditor) {
  flex-direction: row;
  max-width: 100%;
  height: calc(100vh - 4rem);
}

main:has(#lessonEditor) > div {
  width: 50%;
}

body:has(#lessonEditor) {
  overflow: hidden;
  position: fixed;
}

main:has(.chapter) {
  margin-top: 0rem;
  background: var(--bg);
  padding: 0rem 1rem;
  border: 1px solid var(--bg-500);
  box-shadow: 0px 0px 3px 0px var(--shadow-color) inset;
  border-radius: 2.5rem;
}

main > div {
  box-sizing: border-box;
  max-width: 50rem;
  flex-grow: 1;
  overflow: auto;
  background: var(--bg);
  padding: 0rem 1rem;
  border: 1px solid var(--bg-500);
  box-shadow: 0px 0px 3px 0px var(--shadow-color) inset;
  border-radius: 2.5rem;
  margin: 0.5rem;
}

#lessonEditor {
  display: flex;
  flex-direction: column;
}

header:has(.main-title) + main {
  margin-top: 1rem;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

h2.chapter {
  padding: 0.75rem;
  border-radius: 1rem;
}

h2.chapter:not(:first-child) {
  margin-top: 0.5rem;
}

main > h2 + ul:not(:last-child) {
  border-bottom: 1px solid var(--bg-500);
}

#unsaved-icon {
  display: none;
}

.lesson-name {
  color: var(--fuchsia-700);
}

li.lesson {
  padding: 0.75rem;
  border-radius: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.lesson a {
  color: var(--fuchsia-700);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}
.lesson .edit-btn {
  margin-left: auto;
  transition: 0.5s transform;
}
.lesson .edit-btn:hover {
  transform: scale(1.1);
}
.edit-icon {
  width: 1.5em;
  height: 1.5em;
  color: var(--fuchsia-700);
}

.lesson .last-opened {
  margin-left: 0.5em;
}

nav {
  width: fit-content;
  position: fixed;
  left: 1rem;
  border-radius: 10000px;
  margin: 1rem 0rem;
  z-index: 100000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

nav a {
  background: oklch(0.31 0.01 265 / 50%);
  border: 2px solid var(--fuchsia-600);
  backdrop-filter: blur(20px);
  box-shadow: 0px 2px 10px 2px var(--shadow-color);
  padding: 0.2rem 1rem;
  border-radius: 1000px;
  color: var(--fuchsia-600);
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}

nav a:last-of-type {
  color: var(--fuchsia-700);
}

nav a:hover {
  transform: scale(1.01);
}

nav a:active {
  transform: scale(0.95);
}

nav span {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--fuchsia-600);
  text-shadow: 0px 0px 5px var(--shadow-color);
  align-content: center;
}

p {
  margin-left: 0.5rem;
}

.lesson:target {
  border: solid var(--fuchsia-600) 3px;
}

.chapter:target {
  border: solid var(--fuchsia-600) 3px;
}

.block {
  padding-top: 0px;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  overflow: clip;
  background: linear-gradient(0deg, var(--steel-000), var(--steel-050));
  box-shadow: 0px 5px 30px -10px var(--shadow-color);
  contain: content;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}

.block::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px 0px var(--shadow-color) inset;
  pointer-events: none;
  z-index: 1;
}

.block > .block-title {
  padding: 0.7rem 1rem;
  padding-top: 0.9rem;
  box-shadow: 0px 0px 4px 0px var(--shadow-color);
  background: var(--title-bg);
  border-bottom: 0.5px solid var(--block-title-border-color);
  display: flex;
  flex-direction: row;
  position: relative;
}

.block > .block-title:not(:first-child) {
  margin-top: 1rem;
  border-top: 1px solid var(--bg-500);
}

.block > *:last-child {
  margin-bottom: 1.5rem;
}

.block > .block-title h1 {
  color: var(--block-title-color);
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 100;
}

.block > .block-title .score {
  color: var(--block-score-color);
  font-weight: bold;
  align-content: center;
  font-size: 0.9rem;
  margin: 0rem 0.2rem;
}

.block p {
  margin: 1rem;
}

/* EXERCISES */

.exr,
.exr-multiplechoice li {
  outline: 1px solid var(--fuchsia-600);
  border-radius: 10000px;
  border: none;
  margin: 0.2rem;

  background: var(--fuchsia-100);
  color: var(--color-text);
  transition: transform 0.1s;
}

.exr-multiplechoice li:hover,
.exr:hover,
button:hover {
  outline: 2px solid var(--fuchsia-700);
  border-width: 2px;
  transform: scale(1.001);
  cursor: pointer;
}

.exr-multiplechoice label {
  padding: 0.2rem 0.8rem;
}

.exr-multiplechoice button {
  margin-left: 1rem;
  appearance: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--color-text);
  background: var(--fuchsia-100);
  border: 2px solid var(--fuchsia-600);
  transition: transform 0.1s;
  font-size: 1rem;
}

.exr-multiplechoice button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.exr-multiplechoice button:active {
  transform: scale(0.95);
}

.show-awnsers li:has(input[data-awnser="true"]),
.correct {
  color: var(--color-correct);
  border-color: var(--color-correct);
}

.show-awnsers li:has(input[data-awnser="false"]),
.exr-multiplechoice li.wrong,
.wrong {
  color: var(--color-wrong);
  border-color: var(--color-wrong);
}

.show-awnsers li:has(input[data-awnser="true"]) input:checked {
  background-color: var(--color-correct);
}

.show-awnsers li:has(input[data-awnser="false"]) input:checked {
  background-color: var(--color-wrong);
}

.show-awnsers label:has(input[type="checkbox"]),
.show-awnsers label:has(input[type="radio"]) {
  font-weight: bold;
}

.exr-multiplechoice ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
  padding: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.exr-multiplechoice label {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.exr-multiplechoice span::selection {
  background-color: transparent;
}

.exr-multiplechoice label span {
  margin-left: 0.25rem;
}

.exr-multiplechoice input {
  background: var(--color-text);
  border-radius: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;
}

.exercise input[type="text"] {
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.exercise input[type="radio"] {
  appearance: none;
  margin: 0.5rem 0rem;
  border-radius: 10000px;
}

.exr-multiplechoice input:checked {
  background: var(--fuchsia-600);
}

input:active {
  transform: scale(0.95);
}

#LessonSrcCode:focus-visible {
  outline: 1px solid var(--bg-500);
  background: var(--bg-300);
}

#LessonSrcCode {
  margin-top: 3rem;
  transition: background 0.1s ease-in-out;
}

#lessonEditor label {
  color: var(--fuchsia-700);
  font-size: 1.5em;
  font-weight: 600;
}

#lessonEditor {
  padding-top: 1rem;
  position: relative;
}

div.TMCommandBar {
  border-radius: 1rem;
  border: 1px solid var(--bg-500);
  background-color: var(--bg-200);
  padding: 0.5rem;
  box-shadow: 0px 2px 10px 0px var(--shadow-color);
}

#LessonToolbar {
  position: fixed;
}

div.TMCommandButton_Disabled {
  color: var(--color-text);
  opacity: 0.5;
}

div.TMCommandButton {
  opacity: 1;
  color: var(--color-text);
  fill: var(--color-text);
  stroke: var(--color-text);
  border-radius: 0.5rem;
}

div.TMCommandButton_Inactive {
  background-color: transparent;
}

div.TMCommandButton_Active {
  background-color: var(--fuchsia-600);
  color: var(--bg);
  fill: var(--bg-200);
  stroke: var(--bg-200);
}

div.TMCommandButton_Active:hover,
div.TMCommandButton_Disabled:hover,
div.TMCommandButton_Inactive:hover {
  background-color: var(--color-text);
  fill: var(--bg-200);
  stroke: var(--bg-200);
}

div.TMCommandDivider {
  border-color: var(--fuchsia-600);
}

div.TinyMDE {
  background-color: transparent;
  color: var(--color-text);
}

span.TMMark {
  color: var(--fuchsia-700);
}

span.TMMark_TMH1,
span.TMMark_TMH2,
span.TMMark_TMOL,
span.TMMark_TMUL {
  color: var(--fuchsia-600);
}
span.TMAutolink,
span.TMLinkDestination {
  color: var(--fuchsia-600);
}
span.TMLink {
  text-decoration-color: var(--fuchsia-600);
}
span.TMLinkLabel_Invalid {
  color: var(--red-700);
}
