{{ define "content" }}
<header>
  <h1 class="main-title">Fingel++</h1>
</header>
<main>
  {{ range $i, $chap := . }}
  <h2 class="chapter" id="chapter-{{ $i }}">{{ $chap.Name }}</h2>
  <ul>
    {{ range $chap.Lessons }}
      <li id="lesson-{{ .Id }}" class="lesson"><a href="/lesson/{{ .Id }}">{{ .Name }}</a></li>
    {{end}}
  </ul>
  {{end}}
</main>
{{end}}
