{{define "title"}} les {{ .Name }} - fingel++ {{end}}

{{ define "content" }}
<nav>
  <a href="/#chapter-{{ .ChapterId }}">{{ .ChapterName }}</a> <span>&gt;</span> <a href="/#lesson-{{ .Lesson.Id }}">{{ .Lesson.Name }}</a>
</nav>
<main>
  <h1>{{ .Lesson.Name }}</h1>

  <p>
  {{ .Lesson.Content }}
  </p>
</main>
{{end}}
